<audio id="stream" data-icon-type="text" data-able-player preload="auto" autoplay>
	<source type="audio/ogg" src="http://petmemain.com:8000/stream"/>
	<source type="audio/mpeg" src="http://petmemain.com:8000/stream"/>
	<!-- <source type="audio/ogg" src="https://streaming.shoutcast.com/RhythmHQ"/> -->
	<!-- <source type="audio/mpeg" src="https://streaming.shoutcast.com/RhythmHQ"/> -->
</audio>
<div class="container text-is-centered">
	<div id="nowplaying"><p style="color:white;"><span id="queryShow"></span></p>
	<!-- <div id="nowplaying"><p style="color:white;">Now Playing: <a id="queryLink" target="_blank"></a></p></div> -->
	<!-- <div id="listeners"><p style="color:white;"><span></span> People Listening</p></div> -->
</div>
</div>